html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
}

body {
    margin: 0 auto;
    padding: 2rem;
    max-width: 50rem;
    background-color: #F5F5EB;
}

.header {
    padding: 0 2rem 0 0;
    font-size: 2.3rem;
}

.meme {
    border-top: 0.1rem solid #E4E7E7;
}

.meme-control {
    visibility: hidden;
    max-width: 0;
    max-height: 0;
}

.meme-caption {
    display: block;
    padding: 0 2.5rem 0 0;
    font-size: 1.4rem;
    color: #0059D9;
    /* Position for an icon in the upper right corner of the background: */
    background-position: 100% 0;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    /* Hidе an icon: */
    background-image: none;

}

.meme-control:checked~.meme-caption {
    color: #000;
}

.meme-content {
    max-height: 0;
    /* So that the content is not visible outside the parent block (this block): */
    overflow: hidden;
    /* Hidе with smooth, fast Bezier transition: */
    transition: max-height 750ms cubic-bezier(0, 1, 0, 1);
    margin-top: 1rem;
    padding: 0 2rem;
}

.meme-picture {
    display: block;
    margin: 0 auto 2rem;
    max-width: 70%;
    transition: all 800ms ease;
}

/* Expand the chosen meme: */
.meme-control:checked~.meme-caption>.meme-content {
    max-height: 65rem;
    transition: max-height 1s ease-in-out;
}

/* Animate the picture when the meme is chosen: */
.meme-control:checked~.meme-caption>.meme-content .meme-picture {
    animation: zoom 550ms 1 normal forwards ease-out 100ms;
}

@media (hover: hover) {

    .meme-caption {
        cursor: pointer;
    }

    .container:hover .meme-caption {
        color: #000;
        background-image: url("../images/icon_expand.svg");
    }

    .container:hover .meme-control:checked~.meme-caption {
        background-image: url("../images/icon_collapse.svg");
    }

    .meme-control:hover~.meme-caption {
        background-image: url("../images/icon_collapse.svg");
    }

    .meme-control:hover~.meme-caption>.meme-content {
        transition-timing-function: ease-in-out;
        max-height: 65rem;
    }

    .meme-control:hover~.meme-caption>.meme-content .meme-picture {
        animation: zoom 550ms 1 normal forwards ease-out 100ms;
    }

    .meme-control:active~.meme-caption {
        color: #0059D9;
        background-image: url("../images/icon_collapse_blue.svg");
        opacity: 0.6;
    }

    .meme-control:active~.meme-caption>.meme-content {
        opacity: 0.6;
    }
}

/* Picture zoom animation: */
@keyframes zoom {
    from {
        transform: scale(0.65);
        opacity: 0.4;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}